{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


    <div class="w3-content w3-container w3-padding-32">
        <h1 class="w3-xxxlarge w3-hide-small">{{ work_post.post_title }}</h1>
        <h1 class="w3-xxlarge w3-hide-large w3-hide-medium">{{ work_post.post_title }}</h1>


        <div class="w3-threequarter">
            <article class="w3-large" style="line-height: 1.9">
                {{ work_post.post_body }}
            </article>

            <div class="w3-quarter w3-padding-16 w3-padding-large">
                <br>
            </div>
        </div>
    </div>
{% endblock %}


