{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="bgimg">
        <div class="w3-content w3-container w3-padding-32">
            <div class="w3-jumbo w3-text-black w3-hide-small" style="text-transform: lowercase;font-family: Raleway"><a
                    href="/">home</a> / making
            </div>
            <div class="w3-xxxlarge w3-text-black w3-hide-large w3-hide-medium"
                 style="text-transform: lowercase;font-family: Raleway"><a href="/">home </a>/ making
            </div>
            <div class="w3-xxxlarge w3-hide-small w3-padding-bottom" style="opacity: 0.3; font-family: Raleway">
                A few fun projects and freelance work I've done over the years
            </div>
            <div class="w3-xxlarge w3-hide-large w3-hide-medium w3-padding-bottom"
                 style="opacity: 0.3; font-family: Raleway">
                A few fun projects and freelance work I've done over the years
            </div>
            <br>
            <div class="w3-threequarter">

                <div class="columns is-multiline">
                    {% for work_post in work_posts %}

                        <div class="column is-half">
                                <div class="card">
                                    {#                                    <div class="card-image">#}
                                    {#                                        <a href="{{ work_post.get_absolute_url }}">#}
                                    {#                                            <figure class="image is-2by1">#}
                                    {#                                                <img src="https://bulma.io/images/placeholders/640x320.png" alt="">#}
                                    {#                                            </figure>#}
                                    {#                                        </a>#}
                                    {#                                    </div>#}
                                    <div class="card-content">
                                        <div class="tag is-danger">Web Development</div>
                                        <a href="{{ work_post.get_absolute_url }}"><h1
                                                class="subtitle w3-margin-top">{{ work_post.post_title }}
                                            &rightarrow;</h1></a>
                                        <p class="w3-large">{{ work_post.post_excerpt }}</p>
                                    </div>
                                </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="w3-quarter w3-padding-16 w3-padding-large">
                <br>
            </div>
        </div>
    </div>
{% endblock %}

