{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <div class="w3-content w3-container w3-padding-32">
        <h1 class="w3-jumbo" style="text-transform: uppercase">Posts</h1>
        <h1 class="w3-xxxlarge" style="opacity: 0.3">
            Those few times I told you deep stuff and you agreed with everything I said
        </h1>
        <br>
        <div class="w3-threequarter">

            {% for blog_post in blog_posts %}
                <h1><a href="{{ blog_post.get_absolute_url }}">{{ blog_post.post_title }}</a></h1>
                <p>{{ blog_post.post_publish|date }}</p>
                <p class="w3-large">{{ blog_post.post_body|truncatewords:30 }}</p>
                <div><a href="{{ blog_post.get_absolute_url }}">Read more →</a></div>
                <br>
            {% endfor %}
        </div>
        <div class="w3-quarter w3-padding-16 w3-padding-large">
            <br>
        </div>
    </div>
{% endblock %}

