{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    {% load markdown_deux_tags %}

    <div class="w3-content w3-container w3-padding-32">
        <h1 class="w3-jumbo w3-hide-small">{{ blog_post.post_title }}</h1>
        <h1 class="w3-xxxlarge w3-hide-large w3-hide-medium">{{ blog_post.post_title }}</h1>
        <p style="font-family: 'Share Tech Mono', monospace;">By <a href="/about">{{ blog_post.post_author.get_full_name }}</a> on {{ blog_post.post_publish|date }}</p>
        <br>
        <div class="w3-threequarter">
            <article class="w3-content w3-xlarge" style="line-height: 1.9">
                {{ blog_post.post_body|markdown }}
            </article>
        </div>
        <div class="w3-quarter w3-padding-16 w3-padding-large">
            <br>
        </div>
    </div>
{% endblock %}


