{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    {% load markdown_deux_tags %}


    <div class="w3-content w3-container w3-padding-32">
        <h1 class="w3-xxxlarge">{{ blog_post.post_title }}</h1>
        <p style="font-family: Monospace">By <a href="/about">{{ blog_post.post_author.get_short_name }}</a> on {{ blog_post.post_publish|date }}</p>
        <article class="w3-content w3-twothird">
            {{ blog_post.post_body|markdown }}
        </article>
        <div class="w3-third w3-padding-16 w3-padding-large">
        </div>
    </div>
{% endblock %}


