{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    {% load markdown_deux_tags %}


    <div class="w3-content w3-container w3-padding-32">
        <header class="w3-padding">
            <h1 class="w3-xxxlarge">{{ blog_post.post_title }}</h1>
            <p style="font-style: italic">{{ blog_post.post_publish|date }}</p>
        </header>
        <article class="w3-content w3-padding w3-twothird" style="line-height: 1.9">
            {{ blog_post.post_body|markdown }}
            {% markdown_cheatsheet %}
        </article>
        <div class="w3-third w3-padding-16 w3-padding-large">
        </div>
    </div>
{% endblock %}


