{% load staticfiles %}

<!-- Navbar on large/medium screens -->
<div class="w3-bar w3-black w3-card-2 w3-large w3-bottombar w3-border-white">
    <div style="max-width: 1200px; margin: auto;">
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-black"
           href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i
                class="fa fa-bars"></i></a>

        <span class="w3-left gothambold"><a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-white">
                Charles Thompson
            </a></span>

        <span class="w3-right" style="text-transform: uppercase"><a href="/about" class="w3-bar-item  w3-button w3-hide-small w3-padding-large  w3-hover-white">
                About
            </a>
            <a href="/blog" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">
                Blog
            </a>
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">
                Work
            </a>
            <a href="/contact" class="w3-bar-item  w3-button w3-hide-small w3-padding-large w3-hover-white">
                Contact
            </a>

            {% if request.user.is_staff %}

                <a href="/admin" class="w3-bar-item  w3-button w3-hide-small w3-padding-large w3-hover-white">
                Admin
                </a>
            {% endif %}

        </span>
    </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-large" style="text-transform: uppercase">
    <a href="/about" class="w3-bar-item w3-button w3-padding-large w3-hover-white">About</a>
    <a href="/blog" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Blog</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Work</a>
    <a href="/contact" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Contact</a>
    {% if request.user.is_staff %}<a href="/admin" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Admin</a>{% endif %}
</div>
