{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <div class="w3-content w3-container w3-padding-32">
        <div class="w3-threequarter w3-xlarge">
            <h1 class="w3-jumbo" style="text-transform: uppercase">About</h1>
            Hi! 👋
            <img src="{% static 'images/profile.jpg' %}" alt="" class="w3-circle w3-right w3-padding w3-hide-small" style="max-height: 200px">
            <img src="{% static 'images/profile.jpg' %}" alt="" class="w3-circle w3-right w3-padding w3-hide-large w3-hide-medium" style="max-height: 150px">
            <br>
            <br>
            My name is Charles Thompson and I’m terribly sorry if you’re tired of seeing this name or my <a
                href="//twitter.com/cpkthompson">not so hilarious tweets</a>. I only promise you more of each.
            <br>
            <br>
            Okay okay so myself? I’m a junior developer, and what that means to me is: I play a lot with beginner code and haven’t really done anything substantial. I’ve done a few projects
            <a href="//github.com/cpkthompson">here and there</a> , but you know, they’re all playground stuff.
            <br>
            <br>
            I’m also a design enthusiast and I only started saying this to look cool but eventually trapped myself into actually liking design. Design means a lot to different people so I’ll clarify the particular type I’m interested in later (if ‘later’ wasn’t a hyperlink then ask me on Twitter)
            <br>
            <br>
            I live in <a href="https://en.wikipedia.org/wiki/Accra">Accra, Ghana</a>. A developing West African Nation about to take on the world. I attended <a href="https://www.ug.edu.gh/">University of Ghana</a> for my parents and <a href="https://www.ug.edu.gh/">Sikkim Manipal University</a> - DE for myself. LOL etcetera etcetera.
            <br>
            <br>
            I’m very interested in systems, processes and the meta details of how things become what they are. Also the biggest science and technology aficionado alive with an even more honest way of saying it being: I’m addicted to technology and don’t think staring at screens 24/7 is a bad thing. That said, you’ll be surprised to know Black Mirror (and Game of Thrones 😉) are my all time favorite TV shows and I’m open to <a href="https://twitter.com/cpkthompson">discussion</a> about them any time of the day!
            <br>
            <br>
            I limit myself to 140 characters <a href="https://twitter.com/cpkthompson">over here</a> and upload nice pictures <a href="https://instagram.com/cpkthompson">over here</a> for the love of my life to see.
            <br>
            <br>
            <h1>Contact Me</h1>
            Twitter is the best way to reach me: <a href="//twitter.com/cpkthompson">@cpkthompson</a>
            <br>
            <br>
            Feel free to hit me up via email as well: charles@cpkthompson.com.
        </div>
        <div class="w3-quarter w3-padding-16 w3-padding-large">
            <br>
        </div>
    </div>
{% endblock %}

