{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <header class="w3-black w3-padding w3-padding-64">
        <div class="w3-content w3-padding-32">
            <div class="w3-xlarge w3-opacity">Hi. Hello. I'm</div>
            <div class="w3-jumbo w3-hide-small" style="font-family: Raleway">Charles Thompson</div>
            <div class="w3-hide-large w3-hide-medium" style="font-family: Raleway">Charles Thompson</div>
            <div class="w3-xlarge w3-opacity w3-margin-bottom" style="text-transform: uppercase;font-weight: bold">Designer & Developer</div>
            <hr style="width:100px;border:5px solid white;padding: 0px" class="w3-round-large">
            <br>
            <a href="/about" class="w3-hover-black w3-border w3-border-white w3-padding-large w3-round-xxlarge w3-white" style="text-transform: uppercase">More about me</a>
        </div>
    </header>
    <br>

    <div class="w3-content w3-container w3-padding-8">
        <div class="w3-twothird w3-padding-16 w3-container">
            <h6 class="w3-text-grey w3-opacity w3-large" style="text-transform: uppercase">Recent Blog Posts</h6>
            {% if blog_posts %}
                {% for blog_post in blog_posts %}
                    <h2><a href="{{ blog_post.get_absolute_url }}">{{ blog_post.post_title }}</a></h2>
                    <p class="w3-opacity">{{ blog_post.post_publish|timesince }} ago</p>
                    <p>{{ blog_post.post_body|truncatewords:20 }}</p>
                    <br>
                {% endfor %}
                <a href="/blog" class="w3-border-black w3-black w3-padding-large w3-round-xxlarge w3-hover-white w3-border">More blog posts</a>
            {% else %}
                <br>
            {% endif %}

        </div>
        <aside class="w3-third w3-padding-16 w3-container">
            <h6 class="w3-large" style="text-transform: uppercase">Selected Projects</h6>
            <div class="w3-padding-64 w3-red w3-padding-large">
            </div>
            <div class="w3-padding-64 w3-blue w3-padding-large">
            </div>
            <div class="w3-padding-64 w3-grey w3-padding-large">
            </div>
            <br><br>
            <h6 class="w3-large" style="text-transform: uppercase">Selected Posts</h6>
            {% if blog_posts %}
                {% for blog_post in blog_posts %}
                    <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.post_title }}</a>
                {% endfor %}
            {% else %}
                <br>
            {% endif %}
        </aside>
    </div>
{% endblock %}
