{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <header class="w3-black w3-padding-large w3-padding-64">
        <div class="w3-content w3-padding-16">
            <div class="w3-jumbo w3-hide-small" style="font-family: Raleway">
                Hello, my name is <a href="/about" class="w3-opacity w3-hover-opacity-off w3-text-blue">Charles</a> and I'm in love with the web.
            </div>

            <div class="w3-xxlarge w3-hide-large w3-hide-medium" style="font-family: Raleway">
                Hello, my name is <a href="/about">Charles</a> and I'm in love with the web.
            </div>
            <hr style="width:100px;border:5px solid white;padding: 0px" class="w3-round-large">
            <div class="w3-xlarge w3-opacity w3-padding-16">I’m currently an <a href="#">Entreprenuer-In-Training</a> at <a href="#">MEST</a> in Accra, Ghana.
            </div>
            <div class="w3-xlarge w3-opacity">This is my personal website where I try write posts on a few interests of mine in Science & Technology, Design and Development.
            </div>
            <br>
            <div  class="w3-xxlarge w3-center"><a href="#body"><i class="chevron circle down icon"></i></a>
            </div>
        </div>
    </header>
    <br>
    <div id="body" class="w3-content w3-container w3-padding-8">
        <div class="w3-threequarter w3-padding-16">
            <div class="w3-opacity w3-large" style="text-transform: uppercase">Recent Posts</div>
            {% if blog_posts %}
                {% for blog_post in blog_posts %}
                    <h2><a href="{{ blog_post.get_absolute_url }}">{{ blog_post.post_title }}</a></h2>
                    <p class="w3-opacity">{{ blog_post.post_publish|timesince }} ago</p>
                    <p class="w3-large">{{ blog_post.post_body|truncatewords:20 }}</p>
                    <div><a href="{{ blog_post.get_absolute_url }}" class="w3-bottombar w3-border-blue">Read more →</a></div>
                    <br>
                {% endfor %}
                <br>
                <a href="/blog" class="w3-border-black w3-black w3-padding w3-hover-white w3-border w3-round-xxlarge">More posts</a>
            {% else %}
                <br>
            {% endif %}
{#                        <aside class="w3-padding-32">#}
{#                            <h6 class="w3-opacity w3-large" style="text-transform: uppercase">Selected Projects</h6>#}
{#                            <div class="w3-card-2 w3-padding-64 w3-red w3-margin-bottom w3-padding-large">#}
{#                            </div>#}
{#                            <div class="w3-card-2 w3-padding-64 w3-green w3-margin-bottom w3-padding-large">#}
{#                            </div>#}
{#                            <div class="w3-card-2 w3-padding-64 w3-blue w3-margin-bottom w3-padding-large">#}
{#                            </div>#}
{#                            <br><br>#}
{#                            <h6 class="w3-opacity w3-large" style="text-transform: uppercase">Selected Posts</h6>#}
{#                            {% if blog_posts %}#}
{#                                {% for blog_post in blog_posts %}#}
{#                                    <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.post_title }}</a>#}
{#                                {% endfor %}#}
{#                            {% else %}#}
{#                            {% endif %}#}
{#                            <br>#}
{#                        </aside>#}
        </div>
        <div class="w3-quarter">
            <br>
        </div>
    </div>
    <br>
    <br>
{% endblock %}
