{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <header class="w3-padding-large w3-padding-64 bgimg w3-display-container">
        <div class="w3-content w3-padding-32">
            <div class="w3-jumbo w3-hide-small" style="font-family: Raleway">
                Hello, my name is <a href="/about" class="">Charles</a> and I love <a
                    href="#" class="">making</a> things for the web.
            </div>
            <div class="w3-xxxlarge w3-hide-large w3-hide-medium" style="font-family: Raleway">
                Hello, my name is <a href="/about" class="">Charles</a> and I love <a
                    href="#" class="">making</a> things for the web.
            </div>
            <hr style="width:150px;border:5px solid black;padding: 0px" class="w3-round-large">
            <div class="w3-padding-16 w3-xlarge">
                I’m currently an Entreprenuer-In-Training at <a
                    href="http://meltwater.org/" class="">MEST</a> in Accra, Ghana.
            </div>
            <div class="w3-padding-16 w3-xlarge">
                This is my personal website and it's still relatively new so please be
                gentle. It’s also a playground for me so I’m constantly trying new stuff, making changes, and probably breaking things.
            </div>
            <br>
            <div class="w3-padding-16 w3-large w3-border w3-padding w3-light-grey">
                This site was created using HTML, CSS, and JavaScript using the Python Web Framework: <a href="https://djangoproject.com">Django</a>; It was carefully hand-coded in <a href="https://www.jetbrains.com/pycharm/">PyCharm</a> and hosted on
                <a href="//heroku.com">Heroku</a> because it was free. Deployed in a continuous integration fashion, because Facebook bragged about it and why not? This was done with the help of <a href="//github.com">GitHub</a>. The codebase is version-controlled by Git and also managed on <a href="//github.com/cpkthompson/cpkthompson">GitHub</a>. The type is set in lovely <a href="https://fonts.google.com/specimen/Karla">Karla</a> and <a href="https://fonts.google.com/specimen/Raleway">Raleway</a>, all served by
                <a href="https://fonts.google.com">Google Fonts</a>.
            </div>
            <hr style="border: 0.5px solid grey">
            <div>
                <a href="https://twitter.com/cpkthompson" class="twitter-follow-button" data-show-count="false">Follow @cpkthompson</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                <p class="w3-right">&copy; 2017 Charles Thompson. All rights reserved.</p>
                {#                <a href="https://twitter.com/cpkthompson" target="_blank" class="w3-hover-opacity-off"><i#}
                {#                        class="fa fa-2x fa-twitter" style="color:#1da1f2;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;#}
                {#                <a href="https://instagram.com/cpkthompson" target="_blank" class="w3-hover-opacity-off"><i#}
                {#                        class="fa fa-2x fa-instagram" style="color:#e1306c;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;#}
                {#                <a href="https://www.facebook.com/cpkthompson" target="_blank" class="w3-hover-opacity-off"><i#}
                {#                        class="fa fa-2x fa-facebook-square" style="color:#3b5998;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;#}
                {#                <a href="https://github.com/cpkthompson" target="_blank" class="w3-hover-opacity-off"><i#}
                {#                        class="fa fa-2x fa-github" style="color:black;"></i></a>&nbsp;&nbsp;&nbsp;#}
                <br>
            </div>

        </div>
    </header>
{% endblock %}
