{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- Scripts -->
    <script type="text/javascript" src="{% static 'js/javascript.js' %}  "></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>

    <!-- Font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>

        @font-face {
            font-family: "Gotham";
            src: url("{% static 'fonts/GothamRounded-Book.otf' %}");
        }
        @font-face {
            font-family: "GothamBold";
            src: url("{% static 'fonts/GothamRounded-Bold.otf' %}");
        }
        @font-face {
            font-family: "Raleway";
            src: url("{% static 'fonts/raleway-black.woff2' %}");
        }
        @font-face {
            font-family: "Source San";
            src: url("{% static 'fonts/sourcesans.woff2' %}");
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: Raleway;
        }

        body, p, div, span {
            font-family: "Gotham";
            font-size: 18px;
        }

    </style>
</head>

<body>
<nav>
    <!-- Navbar on large/medium screens -->
    <div class="w3-bar w3-black w3-card-2 w3-large ">
        <div style="max-width: 1200px; margin: auto;">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-black w3-bottombar w3-border-black w3-hover-border-white"
               href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i
                    class="fa fa-bars"></i></a>

            <span class="w3-left"><a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-black w3-bottombar w3-border-black w3-hover-border-white">
                Charles Thompson
            </a></span>

            <span class="w3-right" style="text-transform: uppercase">
            <a href="/about" class="w3-hide-small w3-bar-item w3-button w3-padding-large w3-hover-black w3-bottombar w3-border-black w3-hover-border-white">
                About
            </a>
            <a href="/blog" class="w3-hide-small w3-bar-item w3-button w3-padding-large w3-hover-black w3-bottombar w3-border-black w3-hover-border-white">
                Blog
            </a>
            <a href="#" class="w3-hide-small w3-bar-item w3-button w3-padding-large w3-hover-black w3-bottombar w3-border-black w3-hover-border-white">
                Work
            </a>
            <a href="/contact" class="w3-hide-small w3-bar-item w3-button w3-padding-large w3-hover-black w3-bottombar w3-border-black w3-hover-border-white">
                Contact
            </a>

                {% if request.user.is_staff %}
                    <a href="/admin" class="w3-hide-small w3-bar-item w3-button w3-padding-large w3-hover-black w3-bottombar w3-border-black w3-hover-border-white">
                Admin
                </a>
                {% endif %}
        </span>
        </div>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-large" style="text-transform: uppercase">
        <a href="/about" class="w3-bar-item w3-button w3-padding-large w3-hover-black w3-bottombar w3-border-black w3-hover-border-white">About</a>
        <a href="/blog" class="w3-bar-item w3-button w3-padding-large w3-hover-black w3-bottombar w3-border-black w3-hover-border-white">Blog</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-black w3-bottombar w3-border-black w3-hover-border-white">Work</a>
        <a href="/contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black w3-bottombar w3-border-black w3-hover-border-white">Contact</a>
        {% if request.user.is_staff %}<a href="/admin" class="w3-bar-item w3-button w3-padding-large w3-hover-black w3-bottombar w3-border-black w3-hover-border-white">Admin</a>{% endif %}
    </div>
</nav>
{% block content %}
{% endblock %}
<footer class="w3-black w3-padding w3-padding-64">
    <div class="w3-content w3-padding-32 w3-text-dark-grey w3-opacity">
        You're currently viewing a beta build of this site and as such, isn't perfect. Site also uses cookies and unless you're the cookie monster, there's no need to worry about them.
    </div>
</footer>
<script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>
</body>
</html>
